<h2>Dashboard Smartphone</h2>
<app-smartphone-brand-chart></app-smartphone-brand-chart>
<!--<app-smartphone-os-chart></app-os-chart>
<app-smartphone-sreensize-chart></app-price-chart>
<app-smartphone-pricerange-chart></app-price-chart>
<app-smartphone-releasedate-chart></app-price-chart> -->
<app-smartphone-os-chart></app-smartphone-os-chart>
<app-smartphone-screensize-chart></app-smartphone-screensize-chart>
<app-smartphone-pricerange-chart></app-smartphone-pricerange-chart>
<app-smartphone-releasedate-chart></app-smartphone-releasedate-chart>
